@charset "UTF-8";

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

@media (min-width: 1024px) {
  .main-container {
    flex-direction: row;
  }
}
